<!--contents-->
<% if !@article.nil? %>
	<h2>話題一覧</h2>
	<%@article.each do |art|%>
		<div class="box-item">
			<div class="content">
				<h3><%= art[:title] %></h3>
				<% if !art[:tag].nil? %>
					<div class="video">
						<%= art[:tag].html_safe %><br><br>
					</div>
				<% end %>
				<% if !art[:img].nil? %>
					<p><%= image_tag(after_log_in_prosess_show_article_img_path(:id=>art[:id]), :size => "300x200") %></p>
				<% end %>
				<span><%= art[:comment] %></span>
				<% hash = find_hash_name(art[:id]) %>
				<% hash.each do |h|%>
					<%= link_to "#{h.tag}", :controller => 'after_log_in_prosess', :action => 'find_tag_article', :tag => h.tag %>
				<% end %>
				<% if current_user.id == art[:user_id] %>
					<br><%= link_to "この話題の編集", "/after_log_in_prosess/edit_article_action/#{art[:id]}" %><br><br>
				<% end %>
				<p><%= "#{art.created_at.strftime("%Y-%m-%d %H:%M")}"%>に<%= link_to "#{art.user.name}", :controller => "after_log_in_prosess", :action => "find_user_detail", :id =>art.user_id %>によって作成。</p>
			</div>
			
			<%=form_for @shout, :url => {:controller => 'after_log_in_prosess', :action => 'shout'} do |f| %>
				<div class="form-group">
					<%= f.text_area :shout %><br>
				</div>
				<ul class="list-icon">
					<% icon_list.each_with_index do |icon, index| %>
						<li><%= f.radio_button :emotion_no, index+1, :id => "#{index+1}" %>
						<%= f.label :emotion_no, image_tag(icon), :for => "#{index+1}" %></li>
					<% end %>
				</ul>
				<%= f.hidden_field :article_id, :value => art[:id] %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :shout_verify, :value => @shout_list.count+1 %>
				<%=f.submit "叫ぶ", :class=>"btn-cts" %>
			<% end %>

		
		<!-- belongs to article, shout list -->
			<div class="content">
				<% @shout_list.each do |shout_list| %>
					<%if shout_list[:article_id] == art[:id] %>
						<div class="box-comment">
						
						    <p><%= image_tag(after_log_in_prosess_show_img_path(:id=>shout_list[:user_id]), :size => "100x100") %></p>
							<%= link_to "#{find_user_name(shout_list[:user_id])}" ,"/after_log_in_prosess/find_user_detail/#{shout_list.user_id}"%><br><br><br>
						    
							<p class="cmt-icon"><% if !shout_list[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>shout_list[:emotion_no]))%><% end %>&emsp;<%= shout_list[:shout] %></p>
						
					    	<%=link_to "返信する" , "/after_log_in_prosess/resp_shout/#{shout_list[:id]}" %>
					    
						    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
						    	<%=button_to "イイネ済み", "/after_log_in_prosess/destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%> 
						    <%else%>
						    	<%=button_to "イイネ", "/after_log_in_prosess/make_like/#{current_user.id}/#{shout_list[:id]}"%>
						    <%end%>
							
						    <%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイネ
							
							<%if current_user.id == shout_list[:user_id]%>
					      		<%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => shout_list[:id]%>
					    	<%end%>
							
							
						    <div class="content">
								<%@resp_shout.each do |resp_shout_list|%>
									<% if resp_shout_list[:shout_verify] == shout_list[:shout_verify] && resp_shout_list[:article_id] == shout_list[:article_id] %>
										<div class="box-comment">
										  	
											<%resp_user = ShoutList.find_by(:id => resp_shout_list[:resp_shout])%>
											<%if resp_user %>
									      		<%result=User.find_by(:id => resp_user[:user_id])%>
									      		<p><%="#{result[:name]}さんへの返信"%></p>
									    	<%end%>
									    		
											<p><%= image_tag(after_log_in_prosess_show_img_path(:id=>resp_shout_list[:user_id]), :size => "100x100") %></p>
											<%= link_to "#{find_user_name(resp_shout_list[:user_id])}" ,"/after_log_in_prosess/find_user_detail/#{resp_shout_list.user_id}"%><br><br><br>
												    
											<p class="cmt-icon"><% if !resp_shout_list[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>resp_shout_list[:emotion_no]))%><% end %>&emsp;<%= resp_shout_list[:shout] %></p>
											<!-- 元の書き込みに対して返信する　 -->
											<%=link_to "返信する" , "/after_log_in_prosess/resp_shout/#{resp_shout_list[:id]} " %>
											
											
											<%if LikeList.find_by(:shout_list_id => resp_shout_list[:id], :user_id => current_user.id)%>
												<%=button_to "イイネ済み", "/after_log_in_prosess/destroy_like_list/#{current_user.id}/#{resp_shout_list[:id]}"%> 
											<%else%>
												<%=button_to "イイネ", "/after_log_in_prosess/make_like/#{current_user.id}/#{resp_shout_list[:id]}"%>
											<%end%>
											    
											<p><%=LikeList.where(:shout_list_id => resp_shout_list[:id]).size%>イイネ</p>
											<%if current_user.id == resp_shout_list[:user_id]%>
												<%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => resp_shout_list[:id]%>
											<%end%>
										
										</div>
									<% end %>
								<% end %>
								<%if ShoutList.find_by(:resp_shout => shout_list[:id]) %>
									<br><span class="btn-toggle btn-ct shout_list_button">返信を見る</span>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% shout_list = ShoutList.where( :article_id => art[:id] ) %>
			<% if shout_list.count > 0 %>
				<span class="btn-toggle btn-ct shout_list">この話題に関する叫びを見る</span>
			<% end %>
			</div>
		</div>
	<%end%>
<%end%>


<script>
$(function () {
    $('.shout_button').prevAll().hide();
    $('.shout_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('この話題について叫ぶ').removeClass('close');
        }
    });
    
    $('.shout_list_button').prevAll().hide();
    $('.shout_list_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('返信を見る').removeClass('close');
        }
    });
    
    $('.shout_list').prevAll().hide();
    $('.shout_list').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('この話題に関する叫びを見る').removeClass('close');
        }
    });
    
    $('.new_article_button').prevAll().hide();
    $('.new_article_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('話題作成').removeClass('close');
        }
    });
});
</script>