------------------------
<%= @art_group %>
------------------------

<!--header_link-->
<table>
	<td><h1><%= link_to "新着順", :controller => "after_log_in_prosess", :action => "menu" %></h1></td> 
	<td><h1><%= link_to "人気順", :controller => "after_log_in_prosess", :action => "favorite" %></h1></td>
	<td><h1><%= link_to "自分用", :controller => "after_log_in_prosess", :action => "my_genre" %></h1></td>
</table>
<!--genre_link-->
<table>
	<% @genre.each do |g| %>
		<td><%= link_to "#{g.name}", :controller => "after_log_in_prosess", :action => "menu", genre_id: g.id %></td>
	<% end %>
</table>
<br>
<!--new contents-->
<div class="content">
	<%= form_for @article_info, :url => {:controller => 'after_log_in_prosess', :action => 'new_article_action'} do |f| %>
	  <%=f.label "タイトル"%>
	  <%= f.text_field :title, :size=>"80" %>
	  <br><br>
	  <%=f.label "埋め込みタグ"%>
	  <%= f.text_field :tag, :size=>"80" %>
	  <br><br>
	  <%=f.label "ジャンル"%>
	  <%= f.collection_select :genre_id, Genre.all, :id, :name, :selected => @genre_id  %>
	  <br><br>
	  <%=f.label "コメント"%>
	  <%= f.text_area :comment, :size=>"80x20" %>
	  <br><br>
	  <%=f.label "画像"%>
	  <%= f.file_field  :img %>
	  <br><br>
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	  <%=f.submit "新規作成"%>
	<%end%>
	<br><br>
	<div class="new_article_button">話題作成</div>
</div>

<br>
<!--contents-->
<% if !@article.nil? %>
	<h1>話題一覧</h1>
	<%@article.each do |art|%>
		<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
		  	<div class="content">
			  	<h2><%= art[:title] %></h2>
			  	<% if !art[:tag].nil? %>
			  		<div id = "iframe">
			  			<%= art[:tag].html_safe %><br><br>
			  		</div>
			  	<% end %>
			  	<% if !art[:img].nil? %>
			  		<%= image_tag(after_log_in_prosess_show_article_img_path(:id=>art[:id]), :size => "300x200") %><br>
				<% end %>
				<%= art[:comment] %><br><br>
				<% if current_user.id == art[:user_id] %>
					<%= link_to "この話題の編集", "/after_log_in_prosess/edit_article_action/#{art[:id]}" %><br><br>
				<% end %>
				<%= "#{art.created_at.strftime("%Y-%m-%d %H:%M")}"%>に<%= link_to "#{art.user.name}", :controller => "after_log_in_prosess", :action => "find_user_detail", :id =>art.user_id %>によって作成。<br><br>
			</div>
			<br><br>
			
			<%=form_for @shout, :url => {:controller => 'after_log_in_prosess', :action => 'shout'} do |f| %>
				<%= f.text_area :shout, :size=>"80x10" %><br>
					<table>
						<% icon_list.each_with_index do |icon, index| %>
							<td><%= f.radio_button :emotion_no, index+1, :id => "#{index+1}" %>
							<%= f.label :emotion_no, image_tag(icon), :for => "#{index+1}" %></td>
						<% end %>
					</table>
				<%= f.hidden_field :article_id, :value => art[:id] %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :shout_verify, :value => @shout_list.count+1 %>
				<%=f.submit "叫ぶ" %>
			<% end %>
			<br><br>
		
		<!-- belongs to article, shout list -->
		<% @shout_list.each do |shout_list| %>
			<%if shout_list[:article_id] == art[:id] %>
				<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
	    	
				    <%= image_tag(after_log_in_prosess_show_img_path(:id=>shout_list[:user_id]), :size => "100x100") %><br>
					<%= link_to "#{find_user_name(shout_list[:user_id])}" ,"/after_log_in_prosess/find_user_detail/#{shout_list.user_id}"%><br><br><br>
					    
					<% if !shout_list[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>shout_list[:emotion_no]))%><% end %>&emsp;<%= shout_list[:shout] %><br>
					
				    <br><br><%=link_to "返信する" , "/after_log_in_prosess/resp_shout/#{shout_list[:id]}" %>
				    <br><br><br>
				
				    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
				      <%=button_to "イイネ済み", "/after_log_in_prosess/destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%> 
				    <%else%>
				      <%=button_to "イイネ", "/after_log_in_prosess/make_like/#{current_user.id}/#{shout_list[:id]}"%>
				    <%end%>
				    
				    <%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイネ
				    <br><br>
				
				    <%if current_user.id == shout_list[:user_id]%>
				      <%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => shout_list[:id]%>
				    <%end%>
				    <br><br>
				    <div class="content">
						<%@resp_shout.each do |resp_shout_list|%>
							<% if resp_shout_list[:shout_verify] == shout_list[:shout_verify] && resp_shout_list[:article_id] == shout_list[:article_id] %>
								<div style="padding: 10px; margin-bottom: 10px; margin-top: 10px; border: 1px solid #333333; border-radius: 10px;">
									  	
									<%resp_user = ShoutList.find_by(:id => resp_shout_list[:resp_shout])%>
									<%if resp_user %>
							      		<%result=User.find_by(:id => resp_user[:user_id])%>
							      		<%="#{result[:name]}さんへの返信"%><br><br>
							    	<%end%>
							    		
									<%= image_tag(after_log_in_prosess_show_img_path(:id=>resp_shout_list[:user_id]), :size => "100x100") %><br>
									<%= link_to "#{find_user_name(resp_shout_list[:user_id])}" ,"/after_log_in_prosess/find_user_detail/#{resp_shout_list.user_id}"%><br><br><br>
										    
									<% if !resp_shout_list[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>resp_shout_list[:emotion_no]))%><% end %>&emsp;<%= resp_shout_list[:shout] %><br>
									<!-- 元の書き込みに対して返信する　 -->
									<br><br><%=link_to "返信する" , "/after_log_in_prosess/resp_shout/#{resp_shout_list[:id]} " %>
									<br><br><br>
									
									<%if LikeList.find_by(:shout_list_id => resp_shout_list[:id], :user_id => current_user.id)%>
										<%=button_to "イイネ済み", "/after_log_in_prosess/destroy_like_list/#{current_user.id}/#{resp_shout_list[:id]}"%> 
									<%else%>
										<%=button_to "イイネ", "/after_log_in_prosess/make_like/#{current_user.id}/#{resp_shout_list[:id]}"%>
									<%end%>
									    
									<%=LikeList.where(:shout_list_id => resp_shout_list[:id]).size%>イイネ
									<br><br>
									<%if current_user.id == resp_shout_list[:user_id]%>
										<%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => resp_shout_list[:id]%>
									<%end%>
									
								</div>
							<% end %>
						<% end %>
						<%if ShoutList.find_by(:resp_shout => shout_list[:id]) %>
							<div class="shout_list_button">返信を見る</div>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
		</div>
	<%end%>
<%end%>

<script>
$(function () {
    $('.shout_button').prevAll().hide();
    $('.shout_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('この話題について叫ぶ').removeClass('close');
        }
    });
    
    $('.shout_list_button').prevAll().hide();
    $('.shout_list_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('返信を見る').removeClass('close');
        }
    });
    
    $('.new_article_button').prevAll().hide();
    $('.new_article_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('話題作成').removeClass('close');
        }
    });
    
});
</script>
