<script>
$(function () {
    $('.shout_button').prevAll().hide();
    $('.shout_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('この話題について叫ぶ').removeClass('close');
        }
    });
    
    $('.view_article_button').prevAll().hide();
    $('.view_article_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('この話題について叫びをみる').removeClass('close');
        }
    });
    
    $('.new_article_button').prevAll().hide();
    $('.new_article_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('話題作成').removeClass('close');
        }
    });
});

$(document).ready(ready);
$(document).on('page:load', ready);
</script>

<!--header_link-->
<table>
	<td><h1><%= link_to "新着順", :controller => "after_log_in_prosess", :action => "menu" %></h1></td> 
	<td><h1><%= link_to "人気順", :controller => "after_log_in_prosess", :action => "menu" %></h1></td>
	<td><h1><%= link_to "自分用", :controller => "after_log_in_prosess", :action => "menu" %></h1></td>
</table>
<!--genre_link-->
<table>
	<% @genre.each do |g| %>
		<td><%= link_to "#{g.name}", :controller => "after_log_in_prosess", :action => "menu", genre_id: g.id %></td>
	<% end %>
</table>
<br>
<!--new contents-->
<div class="content">
	<%= form_for @article_info, :url => {:controller => 'after_log_in_prosess', :action => 'new_article_action'} do |f| %>
	  <%=f.label "タイトル"%>
	  <%= f.text_field :title, :size=>"80" %>
	  <br><br>
	  <%=f.label "埋め込みタグ"%>
	  <%= f.text_field :tag, :size=>"80" %>
	  <br><br>
	  <%=f.label "コメント"%>
	  <%= f.text_area :comment, :size=>"80x20" %>
	  <br><br>
	  <%=f.label "画像"%>
	  <%= f.file_field  :img %>
	  <br><br>
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	  <%= f.hidden_field :genre_id, :value => @genre_id %>
	  <%=f.submit "新規作成"%>
	<%end%>
	<br><br>
	<div class="new_article_button">話題作成</div>
</div>

<br>
<!--contents-->
<% if !@article.nil? %>
	<h1>話題一覧</h1>
	<%@article.each do |art|%>
		<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
		  	<div class="content">
			  	<h2><%= art[:title] %></h2>
			  	<% if !art[:tag].nil? %>
			  		<div id = "iframe">
			  			<%= art[:tag].html_safe %><br><br>
			  		</div>
			  	<% end %>
			  	<%= art[:img] %><br>
				<%= art[:comment] %><br><br>
				<% if current_user.id == art[:user_id] %>
					<%= link_to "この話題の編集"%>
				<% end %>
			</div>
			<br><br>
			
			<%=form_for @shout, :url => {:controller => 'after_log_in_prosess', :action => 'shout'} do |f| %>
				<%= f.text_area :shout, :size=>"80x10" %><br>
					<table>
						<% icon_list.each_with_index do |icon, index| %>
							<td><%= f.radio_button :emotion_no, index+1, :id => "#{index+1}" %>
							<%= f.label :emotion_no, image_tag(icon), :for => "#{index+1}" %></td>
						<% end %>
					</table>
				<%= f.hidden_field :article_id, :value => art[:id] %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%=f.submit "叫ぶ" %>
			<% end %>
			<br><br>
		
		<!-- belongs to article, shout list -->
		<% @shout_list.each do |shout_list| %>
			<%if shout_list[:article_id] == art[:id] %>
				<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
	    	
				    <%= image_tag(after_log_in_prosess_show_img_path(:id=>shout_list[:user_id]), :size => "100x100") %><br>
					<%=find_user_name shout_list[:user_id]%><br><br><br>
					    
					<%= shout_list[:shout] %><br>
					<%= image_tag(after_log_in_prosess_icon_path(:id=>shout_list[:emotion_no]))%>
					
				    <br><br><%=link_to "返信する" ,"resp_shout/#{shout_list[:id]}"%>
				    <br><br><br>
				
				    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
				      <%=button_to "イイネ済み", "destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%> 
				    <%else%>
				      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout_list[:id]}"%>
				    <%end%>
				    
				    <%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイネ
				    <br><br><br>
				
				    <%if current_user.id == shout_list[:user_id]%>
				      <%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => shout_list[:id]%>
				    <%end%>
				    
				    <%if how_many_resp=ShoutList.find_by(:resp_shout => shout_list[:id]) %>
				      <%=link_to "返信を見る", "watch_resp_shout/#{shout_list[:id]}" %>
				    <%end%>
					<%@resp_shout.each do |resp_shout_list|%>
						<%if resp_shout_list[:resp_shout] == shout_list[:id] %>
							<div style="padding: 10px; margin-bottom: 10px; margin-top: 10px; border: 1px solid #333333; border-radius: 10px;">
								  	
								<%resp_user = ShoutList.find_by(:id => resp_shout_list[:resp_shout])%>
								<%if resp_user %>
						      		<%result=User.find_by(:id => resp_user[:user_id])%>
						      		<%="#{result[:name]}さんへの返信"%><br><br>
						    	<%end%>
						    		
								<%= image_tag(after_log_in_prosess_show_img_path(:id=>resp_shout_list[:user_id]), :size => "100x100") %><br>
								<%=find_user_name resp_shout_list[:user_id]%><br><br><br>
									    
								<%= resp_shout_list[:shout] %><br>
								<%= image_tag(after_log_in_prosess_icon_path(:id=>resp_shout_list[:emotion_no]))%>
									
								<br><br><%=link_to "返信する" ,"resp_shout/#{resp_shout_list[:id]}"%>
								<br><br><br>
								
								<%if LikeList.find_by(:shout_list_id => resp_shout_list[:id], :user_id => current_user.id)%>
									<%=button_to "イイネ済み", "destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%> 
								<%else%>
									<%=button_to "イイネ", "make_like/#{current_user.id}/#{shout_list[:id]}"%>
								<%end%>
								    
								<%=LikeList.where(:shout_list_id => resp_shout_list[:id]).size%>イイネ
								<br><br><br>
								
								<%if current_user.id == resp_shout_list[:user_id]%>
									<%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => shout_list[:id]%>
								<%end%>
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% end %>
		</div>
	<%end%>
<%end%>
