<!--header_link-->
<table>
	<td><h1><%= link_to "新着順", :controller => "after_log_in_prosess", :action => "menu" %></h1></td> 
	<td><h1><%= link_to "人気順", :controller => "after_log_in_prosess", :action => "favorite" %></h1></td>
	<td><h1><%= link_to "自分用", :controller => "after_log_in_prosess", :action => "my_genre" %></h1></td>
</table>
<!--genre_link-->
<table>
	<% @genre.each do |g| %>
		<td><%= link_to find_genre_name(g.genre_id) , :controller => "after_log_in_prosess", :action => "my_genre", genre_id: g.genre_id %></td>
	<% end %>
</table>

<div class="content">
<%= form_for @article_info, :url => {:controller => 'after_log_in_prosess', :action => 'update_my_genre_info'} do |f| %>
	<table>
		<% Genre.all.each do |genre| %>
			<td><%= check_box_tag 'genre[genre_id][]', genre.id,  @user_info.genres.ids.include?(genre.id), :genre_id => "genre_#{genre.id}" %>
			<%= genre.name %></td>
		<% end %>
	</table>
	<%= f.hidden_field :id, :value => current_user.id %>
	<%=f.submit "適用"%>
<% end %>
</div>

<br>
<%= render 'article_and_shout' %>