<%=form_for @result, :url => {:controller => 'after_log_in_prosess' ,:action => 'update_shout'} do |f|%>
  <%=f.label '変更してください'%>
  <%=f.text_area :shout ,value:@shout[:shout]%>
  <%=f.hidden_field :id, value:@shout[:id]%>
  <%=f.submit '更新する'%>
<%end%>
<script type="text/javascript">
function myEnter(){
    myRet = confirm("本当に削除しますか？");
    if ( myRet == true ){
       location.href = "destoroy_shout/<%=@shout[:id]%>";
    }else{
        alert("キャンセルしました");
    }
}
</script>

<form>
<input type="button" value="削除する" onclick="myEnter()">
</form>
