<%=form_for @result, :url => {:controller => 'after_log_in_prosess' ,:action => 'update_shout'} do |f|%>
  <%=f.label '変更してください'%>
  <%=f.text_area :shout ,value:@shout[:shout], :size=>"80x10"%>
  <div class="field">
	<table>
		<% icon_list.each_with_index do |icon, index| %>
		  <% if @shout[:emotion_no] == index+1 %>
		  	<td><%= f.radio_button :emotion_no, index+1, {:id => "#{index+1}", :checked => true} %>
		  <% else %>
		    <td><%= f.radio_button :emotion_no, index+1, :id => "#{index+1}" %>
		  <% end %>
		  <%= f.label :emotion_no, image_tag(icon), :for => "#{index+1}" %></td>
		<% end %>
	</table>
  </div>
  <%=f.hidden_field :id, value:@shout[:id]%>
  <%=f.submit '更新する'%><br><br>
<%end%>
<script type="text/javascript">
function myEnter(){
    myRet = confirm("本当に削除しますか？");
    if ( myRet == true ){
       location.href = "destoroy_shout/<%=@shout[:id]%>";
    }else{
        alert("キャンセルしました");
    }
}
</script>

<form>
<input type="button" value="削除する" onclick="myEnter()">
</form>
