
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  <p><%= image_tag(after_log_in_prosess_show_img_path(:id=>@un_resp[:user_id]), :size => "100x100") %></p>
  <p><%= link_to "#{find_user_name(@un_resp[:user_id])}" ,"../find_user_detail/#{@un_resp.user_id}"%></p>
  <% if !@un_resp[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>@un_resp[:emotion_no]))%><% end %>&emsp;<h3><%= @un_resp[:shout]%></h3>
</div>

<div class = "resp_field">
  <%=form_for @resp_info ,:url => {:controller => 'after_log_in_prosess' ,:action => 'register_resp'} do |f| %>
	  <%=f.text_area :shout, :size=>"80×20" %>
	  
	  <table>
		<% icon_list.each_with_index do |icon, index| %>
			<td><%= f.radio_button :emotion_no, index+1, :id => "#{index+1}" %>
			<%= f.label :emotion_no, image_tag(icon), :for => "#{index+1}" %></td>
		<% end %>
	  </table>
	  
	  <%=f.hidden_field :article_id, :value => @un_resp[:article_id] %>
	  <%=f.hidden_field :user_id ,:value => current_user.id %>
	  <%=f.hidden_field :id, :value => @un_resp[:id] %>
	  <%= f.hidden_field :shout_verify, :value => @un_resp[:shout_verify] %>
	  <p><%=f.submit "返信する"%></p>
  <% end %>
</div>
