
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  <p>名前：<%=find_user_name @un_resp[:user_id]%></p>
  <p>叫び：<%=@un_resp[:shout]%></p>
</div>



<div class = "resp_field">
  <%=form_for @resp_info ,:url => {:controller => 'after_log_in_prosess' ,:action => 'register_resp'} do |f| %>
  <p><%=f.text_area :shout%></p>
  <%=f.hidden_field :user_id ,:value => current_user.id%>
  <p><%=f.submit "返信する"%></p>
  <% end %>
</div>
