<%= form_for @info, :url => {:controller => 'after_log_in_prosess', :action => 'action_update_my_info'} do |f| %>
  <%=f.label "名前"%>
  <%= f.text_field :name, value:@user_info[:name]%>
  <%=f.label "紹介文"%>
  <%=f.text_area :introduction, value:@user_info[:introduction]%>
  <%=f.hidden_field :id, value:current_user.id%>
  <%=f.submit "上書きする"%>
<%end%>
<p>※上書きするを押下しないと反映されません</p>
<%=link_to "戻る", :controller => "after_log_in_prosess", :action => "watch_my_info" , :id => current_user.id %>
