<%=link_to "戻る", :action => "chose"%>

<%@shout.each do |shout_list|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
    <p>名前：<%=find_user_name shout_list[:user_id]%></p>
    <p>叫び：<%=shout_list[:shout]%></p>
      <%if how_many_resp=ShoutList.find_by(:resp_shout => shout_list[:id]) %>
        <p><%=link_to "返信を見る", "watch_resp_shout/#{shout_list[:id]}" %></p>
      <%end%>
    <%=link_to "返信する" ,"resp_shout/#{shout_list[:id]}"%>
    <p><%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイね</p>
    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
      <%=button_to "イイネ済み", "destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%>
    <%else%>
      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout_list[:id]}"%>
    <%end%>
  </div>
<%end%>


<%@follows_shout.each do |shout_list|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #ff0000; border-radius: 10px;">
    <p>名前：<%=find_user_name shout_list[:user_id]%></p>
    <p>叫び：<%=shout_list[:shout]%></p>
      <%if how_many_resp=ShoutList.find_by(:resp_shout => shout_list[:id]) %>
        <p><%=link_to "返信を見る", "watch_resp_shout/#{shout_list[:id]}" %></p>
      <%end%>
    <%=link_to "返信する" ,"resp_shout/#{shout_list[:id]}"%>
    <p><%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイね</p>
    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
      <%=button_to "イイネ済み", "destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%>
    <%else%>
      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout_list[:id]}"%>
    <%end%>
  </div>
<%end%>
