<h4> <%=flash[:update_my_info]%></h4>
<%= image_tag(after_log_in_prosess_show_img_path(:id=>@user.id), :size => "100x100") %><br>
<h3>名前:</h3><%=@user.name%><br>

<h3>自己紹介:</h3><%=@user.introduction%><br>

<h5><%=link_to "#{@follow.size}follow", :controller => "after_log_in_prosess", :action => "watch_follow_user", :id => current_user.id%> | 
<%=link_to "#{@follower.size}follower", :controller => "after_log_in_prosess", :action => "watch_follower", :id => current_user.id%></h5>

<h5><%=@shout.size%>shout</h5>

<h5><%=link_to "プロフィールの設定", :controller => "after_log_in_prosess", :action => "update_my_info", :id => current_user.id%></h5>
<%@shout.each do |shout|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  	<%= image_tag(after_log_in_prosess_show_img_path(:id=>shout[:user_id]), :size => "100x100") %><br>
    <%=find_user_name shout[:user_id]%></p>
    <%= image_tag(after_log_in_prosess_icon_path(:id=>shout[:emotion_no]))%>&emsp;<%= shout[:shout]%><br>
    
  </div>
<%end%>
<%=link_to "戻る", :action => "menu"%>
