<h4> <%=flash[:update_my_info]%></h4>
<h5>名前:<%=@user.name%></h5>

<div>プロフィール:<%=@user.introduction%><div>

<h5><%=link_to "#{@follow.size}follow", :controller => "after_log_in_prosess", :action => "watch_follow_user", :id => current_user.id%></h5>


<h5><%=link_to "#{@follower.size}follower", :controller => "after_log_in_prosess", :action => "watch_follower", :id => current_user.id%></h5>

<h5><%=@shout.size%>shout</h5>

<h5><%=link_to "名前、紹介文の変更", :controller => "after_log_in_prosess", :action => "update_my_info", :id => current_user.id%></h5>
<%@shout.each do |shout|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
    <p>名前：<%=find_user_name shout[:user_id]%></p>
    <p>叫び：<%= shout[:shout]%></p>
    <%=link_to "返信する" ,"resp_shout/#{shout[:id]}"%>
    <p><%=LikeList.where(:shout_list_id => shout[:id]).size%>イイネ</p>
    <%if LikeList.find_by(:shout_list_id => shout[:id], :user_id => current_user.id)%>
      <%=button_to "イイネ解除", "destroy_like_list/#{current_user.id}/#{shout[:id]}"%>
    <%else%>
      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout[:id]}"%>
    <%end%>
  </div>
<%end%>
