<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  <p>名前：<%=find_user_name @un_resp[:user_id]%></p>
  <p>叫び：<%=@un_resp [:shout]%></p>
  <%=link_to "返信する" ,"resp_shout/#{@un_resp[:id]}"%>
</div>
<%@resp.each do |resp_hash|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
    <p><%=find_user_name @un_resp[:user_id]%>さんへ</p>
    <p>返信者名：<%=find_user_name resp_hash[:user_id]%></p>
    <p>返信内容：<%=resp_hash[:shout]%></p>
    <p><%= image_tag(after_log_in_prosess_icon_path(:id=>resp_hash[:emotion_no]))%></p>
  </div>
<%end%>
