<script>
$(function () {
	
    $('.shout_list_button').prevAll().hide();
    $('.shout_list_button').click(function () {
        if ($(this).prevAll().is(':hidden')) {
            $(this).prevAll().slideDown();
            $(this).text('閉じる').addClass('close');
        } else {
            $(this).prevAll().slideUp();
            $(this).text('返信を見る').removeClass('close');
        }
    });
});

$(document).ready(ready);
$(document).on('page:load', ready);
</script>
<h5><%=flash[:update_shut_result]%></h5>
<h5><%=flash[:destroy_shout_result]%></h5>


<%@shout.each do |shout_list|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
    <br>
    <h2><%= link_to "#{shout_list.article.title}", :controller => "after_log_in_prosess", :action => "article_detail", :id => shout_list.article.id %>にてShout!</h2><br>
    <%= image_tag(after_log_in_prosess_show_img_path(:id=>shout_list[:user_id]), :size => "100x100") %><br>
	<%= link_to "#{find_user_name(shout_list[:user_id])}" ,"/after_log_in_prosess/find_user_detail/#{shout_list.user_id}"%><br><br>
	    
	<%if !shout_list[:emotion_no].nil? %><%= image_tag(after_log_in_prosess_icon_path(:id=>shout_list[:emotion_no]))%><% end %>&emsp;<%= shout_list[:shout] %>

    <br><br>
    <%=link_to "返信する" ,"resp_shout/#{shout_list[:id]}"%>
    <br><br>

    <%if LikeList.find_by(:shout_list_id => shout_list[:id], :user_id => current_user.id)%>
      <%=button_to "イイネ済み", "destroy_like_list/#{current_user.id}/#{shout_list[:id]}"%> 
    <%else%>
      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout_list[:id]}"%>
    <%end%>
    
    <%=LikeList.where(:shout_list_id => shout_list[:id]).size%>イイネ
    <br>
    <%if current_user.id == shout_list[:user_id]%>
      <%=link_to '編集・削除',:controller => 'after_log_in_prosess', :action => 'remake_shout', :id => shout_list[:id]%>
    <%end%>
    <br>
  </div>
<%end%>

<%=link_to "戻る", :action => "menu"%>
