<h4> <%=flash[:update_my_info]%></h4>
<%= image_tag(after_log_in_prosess_show_img_path(:id=>@user.id), :size => "100x100") %><br>
<h3>名前:</h3><%=@user.name%><br>

<h3>自己紹介:</h3><%=@user.introduction%><br>

<h5><%=link_to "#{@follow.size}follow", :controller => "after_log_in_prosess", :action => "watch_follow_user", :id => current_user.id%> | 
<%=link_to "#{@follower.size}follower", :controller => "after_log_in_prosess", :action => "watch_follower", :id => current_user.id%></h5>

<h5><%=@shout.size%>shout</h5>

<h5><%=link_to "プロフィールの設定", :controller => "after_log_in_prosess", :action => "update_my_info", :id => current_user.id%></h5>
<%@shout.each do |shout|%>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
  	<p><%= image_tag(after_log_in_prosess_show_img_path(:id=>shout[:user_id]), :size => "100x100") %><br>
    <%=find_user_name shout[:user_id]%></p>
    <p><%= shout[:shout]%></p>
    <p><%= image_tag(after_log_in_prosess_icon_path(:id=>shout[:emotion_no]))%></p>
    <%=link_to "返信する" ,"resp_shout/#{shout[:id]}"%>
    <p><%=LikeList.where(:shout_list_id => shout[:id]).size%>イイネ</p>
    <%if LikeList.find_by(:shout_list_id => shout[:id], :user_id => current_user.id)%>
      <%=button_to "イイネ解除", "destroy_like_list/#{current_user.id}/#{shout[:id]}"%>
    <%else%>
      <%=button_to "イイネ", "make_like/#{current_user.id}/#{shout[:id]}"%>
    <%end%>
  </div>
<%end%>
<%=link_to "戻る", :action => "chose"%>
