<p id="notice"><%= notice %></p>

<h1>話題マスタ</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Tag</th>
      <th>Comment</th>
      <th>Img</th>
      <th>Genre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
      	<td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.tag %></td>
        <td><%= article.comment %></td>
        <td>
        <% if !article.img.nil? %>
        	<%= image_tag(after_log_in_prosess_show_article_img_path(:id=>article.id), :size => "100x100") %>
        <% end %>
        <br></td>
        <td><%= article.genre_id %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Admin', :controller => 'admin', :action => 'admin_menu' %>
