<p id="notice"><%= notice %></p>

<h1>Shout Lists</h1>

<table border="1">
  <thead>
    <tr>
      <th>Shout_Id</th>
      <th>Shout</th>
      <th>User_Id</th>
      <th>resp_shout</th>
      <th>article_id</th>
      <th>shout_verify</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shout_lists.each do |shout_list| %>
      <tr>
        <td><%= shout_list.id %></td>
        <td><%= shout_list.shout %></td>
        <td><%= shout_list.user_id %></td>
        <td><%= shout_list.resp_shout %></td>
        <td><%= shout_list.article_id %></td>
        <td><%= shout_list.shout_verify %></td>
        <td><%= link_to 'Show', shout_list %></td>
        <td><%= link_to 'Destroy', shout_list ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shout List', new_shout_list_path %>
