<div id="main-area" class="login-page">
	<div class="container">
		<h1 class="logo"><%= link_to image_tag('logo.png',{:border => '0'}), after_log_in_prosess_menu_path %><br></h1>
		<div class="login-form">
			<h2>パスワードを変更する</h2>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  				<%= devise_error_messages! %>
  				<%= f.hidden_field :reset_password_token %>
  				
				<div class="form-group">
					<%= f.label :password, "↓新しいパスワードを入力して下さい↓（6文字以上）" %><br />
				    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
				</div><!-- /.form-group -->
				<div class="form-group">
    				<%= f.label :password_confirmation, "↓（2回目）再度新しいパスワードを入力して下さい↓" %><br />
   	 				<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div><!-- /.form-group -->
				<div class="form-group">
					<%= f.submit "パスワードを変更する", :class=>"btn-cts" %>
				</div><!-- /.form-group -->
				<div class="form-group">
					<%= render "users/shared/links" %>
				</div><!-- /.form-group -->
			<% end %>
		</div><!-- /.login-form -->	
	</div><!-- /.container -->
</div><!-- /.main-area -->
