<div id="main-area" class="login-page">
	<div class="container">
		<h1 class="logo"><%= link_to image_tag('logo.png',{:border => '0'}), after_log_in_prosess_menu_path %><br></h1>
		<div class="login-form">
			<h2>パスワードをお忘れですか？</h2>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<div class="form-group">
					<%= f.label "メールアドレス" %><br />
    				<%= f.email_field :email, autofocus: true %>
				</div><!-- /.form-group -->
				<div class="form-group">
					<%= f.submit "送信",:class=>"btn-cts" %>
				</div><!-- /.form-group -->
			<% end %>
			<%= render "users/shared/links" %>
		</div><!-- /.login-form -->	
	</div><!-- /.container -->
</div><!-- /.main-area -->
