<!DOCTYPE html>
<html>
  <head>
    <title>Shout</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  	<%= link_to image_tag('logo.png',{:border => '0'}), after_log_in_prosess_menu_path %><br>
	  これは怒りを共有するアプリです<br><br>
    <nav>
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <% if user_signed_in? %>
        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
        <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
        ようこそ <strong>
          <%=link_to "#{current_user.name}", "/after_log_in_prosess/watch_my_info/#{current_user.id}"%>
        </strong>さん！
        <%= link_to 'アカウント管理', edit_user_registration_path %>|
        <%=link_to 'ユーザーを見つける' , after_log_in_prosess_find_user_path%> |
        <%=link_to '友人の叫びを見る' , after_log_in_prosess_watch_shout_path%>｜
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>
<hr>
  <body>
    <%= yield %>
  </body>
</html>
