<h2>アカウント情報更新</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br>
  <div class="field">
    <%= f.label :current_password %> <i>(変更するには、現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %> <i>(変更したくない場合は空白のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字が最小です</em>
    <% end %>
  </div>
<br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>アカウントを削除しますか？</h3>

<p>実行しますか? <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<!--edit <%= resource_name.to_s.humanize %>
-->
