<div id="main-area" class="login-page">
	<div class="container">
		<h1 class="logo"><%= link_to image_tag('logo.png',{:border => '0'}), after_log_in_prosess_menu_path %><br></h1>
		<div class="login-form">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
				<div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true %>
				</div><!-- /.form-group -->
				<div class="form-group">
					<%= f.label :name ,"ユーザー名"%><br />
					<%= f.text_field :name %></div>
				</div><!-- /.form-group -->
				<div class="form-group">
				    <%= f.label :password %>
    				<% if @minimum_password_length %>
    					(<%= @minimum_password_length %> 文字以上)
    				<% end %><br />
    				<%= f.password_field :password, {autocomplete: "off", :id=>"pass"} %>
				</div><!-- /.form-group -->
				<div class="form-group">
    				<%= f.label :password_confirmation %><br />
    				<%= f.password_field :password_confirmation, {autocomplete: "off",:id=>"repass"} %>
				</div><!-- /.form-group -->
				<div class="form-group">
					<br><%= f.submit "登録", :class=>"btn-cts" %>
				</div><!-- /.form-group -->
			<% end %>
			<%= render "users/shared/links" %>
		</div><!-- /.login-form -->	
	</div><!-- /.container -->
</div><!-- /.main-area -->
